body {
  font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 15px;
  background-size: 960px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}

nps {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  height: auto;
}

a.brand-logo {
  color: red;
  padding-left: 15px;
}

nav, footer {
  background-color: #002e63;
  color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-transform: uppercase;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:75px;
   width:100%;
   margin-bottom: 0px;
}

.btn {
  background-color: #002e63;
}

waves-effect waves-blue btn {
  background-color: #002e63;
}

.results-list {
  margin-right: 0;
  padding-right: 0;
}

.test {
  background-color: blue;
}

.test2 {
  background-color: red;
}

.map {
  margin-left: 0;
  background-color: goldenrod;
}

#map {
  height: 500px;
  width: 100%;
}
